/* Import Tailwind base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* Import Skeleton themes and styles */
@layer base {
	/* Register custom fonts if needed */
}
